@font-face {
	font-family: "blkchcry";
	src: url(BLKCHCRY.TTF);
}

@font-face {
	font-family: "SourceSansPro-Regular";
	src: url(SourceSansPro-Regular.ttf);
}

@font-face {
	font-family: "SourceSansPro-black";
	src: url(SourceSansPro-Black.ttf);
}

html {
	scroll-behavior: smooth
}

body {
	--main-bg: indigo;
	--cover-bg: darkmagenta;
	--text-color1: #434343;
	--text-color2: #E8E9F0;
	--text-color3: mediumpurple;
	--text-color4: #B7B099;
	background-color: ghostwhite;
	color: var(--text-color1);
	font-family: SourceSansPro-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
}

h1,
h2 {
	font-family: SourceSansPro-black;
	line-height: 150%
}

a {
	font-weight: bold
}

.color1 {
	color: var(--main-bg)
}

.color2 {
	color: var(--text-color2);
}

.color3 {
	color: var(--text-color3)
}

.color4 {
	color: var(--text-color4)
}

.bg-1 {
	background-color: var(--main-bg)
}

.bg-2 {
	background-color: var(--cover-bg)
}

.font-special {
	font-family: "blkchcry"
}

.spec-btn:link,
.spec-btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 100px;
	transition: all .2s;
}

.spec-btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(250, 250, 250, 0.5);
}

.spec-btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.spec-btn-white {
	background-color: #fff;
	color: var(--main-bg)
}

.spec-btn-indigo {
	background-color: var(--main-bg);
	color: var(--text-color2)
}

.spec-btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
}

.spec-btn-white::after {
	background-color: #fff;
}

.spec-btn-green {
	background-color: #285F1E;
	color: var(--text-color2)
}

.spec-btn-green::after {
	background-color: #285F1E
}

.spec-btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.spec-btn-animated {
	animation: moveInBottom 5s ease-out;
	animation-fill-mode: backwards;
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@-webkit-keyframes bounceIn {

	from,
	20%,
	40%,
	60%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97);
	}

	to {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes bounceIn {

	from,
	20%,
	40%,
	60%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97);
	}

	to {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.bounceIn {
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
}

.fadeInUp {
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-o-transform: translateY(100%);
  transform: translateY(100%);
}

.fadeInLeft {
	opacity: 0;
	-webkit-transform: translateX(-100%);
	-moz-transform: translatex(-100%);
	-o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.fadeInRight {
	opacity: 0;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-o-transform: translateX(100%);
  transform: translateX(100%);
}

.trans {
	transition: all 1000ms;
}

@-webkit-keyframes moveRight {
 0% {
  -webkit-transform: translateX(0px);
 }

 100% {
  -webkit-transform: translateX(5px);
 }
}

@keyframes moveRight {
 0% {
  transform: translateX(0px);
 }

 100% {
  transform: translateX(5px);
 }
}


@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.spin {
	-webkit-animation-name: spin;
	animation-name: spin;
	-webkit-animation-duration: 1200ms;
	animation-duration: 1200ms;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;

	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.moveRight {
 -webkit-animation: moveRight 500ms linear infinite alternate;
 -moz-animation: moveRight 500ms linear infinite alternate;
 -o-animation: moveRight 500ms linear infinite alternate;
 animation: moveRight 500ms linear infinite alternate;
}

.custom-shape-divider-bottom-1688678486, .custom-shape-divider-top-1688678486 {
	position: absolute;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-bottom-1688678486 svg, custom-shape-divider-top-1688678486 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 80px;
}

.custom-shape-divider-bottom-1688678486 svg {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg) ;
}

@media (min-width: 768px) {
	.custom-shape-divider-bottom-1688678486 svg {
		height: 120px;
	}
	.custom-shape-divider-top-1688678486 {
		height: 120px
	}
}

.img-placeholder {
	height: 20rem;
	border: 1px solid #E8E8E8;
	background: repeating-linear-gradient(50deg, aliceblue 0%, lightgrey 100%);
}

@media (min-width: 768px) {
	header nav {
		border-bottom: 1px groove var(--text-color2);
	}
}

.pinkish-bg {
		background: url(images/pink-1328819_1283.jpg);
		background-size: cover;
		background-repeat: no-repeat
	}
	
header {
	background: rgb(17, 24, 39) url(images/space-art-5626853_1282.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.cp-management-bg {
	background: url(images/corporate-management-strategy-solution-branding-concept_53876-167088_2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

@media (max-width: 768px) {
	.collapse {
		position: absolute;
		min-height: 80vh;
	}
}

.collapse a {
	display: block;
	color: var(--text-color1);
}

.add-collapse-a-border {
	border-bottom: 2px solid lightgray;
}

.form-cover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: rgba(255, 255, 255, 0.5)
}

.loader {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 22px 0 #fff, -22px 0 #fff;
	position: relative;
	animation: flash 0.5s ease-out infinite alternate
}

/*
background-color: #FFF2;
		box-shadow: 22px 0 #FFF2, -22px 0 #FFF
	}

	50% {
		background-color: #FFF;
		box-shadow: 22px 0 #FFF2, -22px 0 #FFF2
	}

	100% {
		background-color: #FFF2;
		box-shadow: 22px 0 #FFF, -
		*/
@keyframes flash {
	0% {
		background-color: azure;
		box-shadow: 22px 0 azure, -22px 0 gray
	}

	50% {
		background-color: gray;
		box-shadow: 22px 0 azure, -22px 0 azure
	}

	100% {
		background-color: gray;
		box-shadow: 22px 0 gray, -22px 0 gray
	}
}

@-webkit-keyframes grow {
  0% {
  	-webkit-transform: scale(0.8) rotate(22deg);
  	transform: scale(0.8) rotate(22deg);
  }
  
  50% {
  	-webkit-transform: scale(1.1), rotate(45deg);
  	transform: scale(1.1), rotate(45deg);
  }
  
  100% {
  	-webkit-transform: scale(0.9), rotate(0deg);
  	transform: scale(0.9), rotate(0deg)
  }
}

@keyframes grow {
  0% {
  	-webkit-transform: scale(0.8) rotate(22deg);
  	transform: scale(0.8) rotate(22deg);
  }
  
  50% {
  	-webkit-transform: scale(1.1), rotate(45deg);
  	transform: scale(1.1), rotate(45deg);
  }
  
  100% {
  	-webkit-transform: scale(0.9), rotate(0deg);
  	transform: scale(0.9), rotate(0deg)
  }
}

.grow {
	-webkit-animation: 2s ease-in-out 0s infinite alternate running grow;
	animation: 2s ease-in-out 0s infinite alternate running grow;
}

@media (min-width: 576px) {
	.sm\:order-1 {
		order: 1
	}

	.sm\:order-2 {
		order: 2
	}
}

@media (min-width: 768px) {
	.green-btn {
		padding: 0.5rem 1.2rem;
		background-color: rgb(4, 120, 87);
	}

	.green-btn:hover,
	.green-btn:focus {
		background-color: rgb(16, 185, 129)
	}

	.collapse a {
		color: gray;
	}
	
	.add-collapse-a-border {
		border-color: green
	}
	.remove-collapse-a-border {
		border: none;
	}
	
	.collapse a:hover {
		text-decoration: underline;
	}

	.md\:order-1 {
		order: 1
	}

	.md\:order-2 {
		order: 2
	}
}

.carousel {
	scroll-snap-type: x mandatory;
	-webkit-scroll-snap-type: x mandatory;
	/* Safari, older versions of Edge, and some versions of Chrome */
	-ms-scroll-snap-type: x mandatory
		/* Older versions of Edge */
}

.carousel li {
	min-width: 18rem;
	scroll-snap-align: center;
	-webkit-scroll-snap-align: center;
	-ms-scroll-snap-align: center
}

.carousel img[alt] {
	color: var(--text-color2)
}

.list-thumb {
	margin-left: 1rem;
}

.list-thumb li {
	list-style-type: "👍";
	padding: 10px;
}